<header id="heade">
    <div class="header-left">
         <a 
         href="/">
        🅲🆂🆅 🆃🅾🅴🆇🅲🅴🅻
        </a>
    </div>
    
    <div class="header-right">
        <ul class="menu-links" id="nav-menu">
            <li  class="nav-item"><a href="/">Главная</a></li>
            <li  class="nav-item"><a href="/api/auth/work">Рабочая</a></li>
            <li  class="nav-item"><a href="/contacts">Контакты</a></li>
            <li  class="nav-item" id="reg"><a href="/registration">Регистрация</a></li>
            <li  class="nav-item" id="enter"><a href="/enter">Вход</a></li>
            <li  class="nav-item"><a href="/api/auth/logout">logout</a></li>
        </ul>
    </div>
    <div class="icon" id="icon"><i class="fa-solid fa-bars"></i></div>
</header>


