body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    background-color: 	#33CCCC;
    background-color: 	#CCFFFF;
  }
  ul, li {
    list-style: none;
    padding: 0;
    margin: o;
  }
  
  .hidden {
    display: none;
  }

  .vizibly{
    display: inline-block;
  }
  
  .wrapper {
    display: flex;
    min-height: 100%;
    overflow: hidden;
    flex-direction: column;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
  }

#regform input[type="password,"],
#regform input[type="email,"] {
    /* box-sizing: border-box; */
    width: 100%;
}
  
  @media (max-width: 1200px) {
    .container {
      max-width: 970px;
    }
  }
  @media (max-width: 992px) {
    .container {
      max-width: 750px;
    }
  }
  
  @media (max-width: 767px) {
    .container {
      max-width: none;
    }
  }
  
  .par3tdiv {
    width: 33.3%
  }
  
  .par2tdiv {
    width: 50%
  }