{{!-- <header>
    <div class="header-left">
         <a 
         href="/">
        🅲🆂🆅 🆃🅾🅴🆇🅲🅴🅻
        </a>
    </div>
    
    <div class="header-right">
        <ul class="menu-links" id="nav-menu">
            <li  class="nav-item"><a href="/">Главная</a></li>
            <li  class="nav-item"><a href="/contacts" class="active">Контакты</a></li>
            <li  class="nav-item" id="reg"><a href="/registration">Регистрация</a></li>
            <li  class="nav-item" id="enter"><a href="/enter">Вход</a></li>
            <li  class="nav-item"><a href="/api/auth/logout">logout</a></li>
        </ul>
    </div>
    <div class="icon" id="icon"><i class="fa-solid fa-bars"></i></div>
</header> --}}

    <h1>Контакты</h1>
    <p>Электронный адрес: admin@mycorp.com</p>
    <div class="wrapper">
        <div class="container">
            <div class="part2div">
                <input type="email">
            </div>
            <div class="part2div">
                <input type="email">
            </div>
        </div>
        <div class="container">
            <div class="part3div">
                <input type="email">
            </div>
            <div class="part3div">
                <input type="email">
            </div>
            <div class="part3div">
                <input type="email">
            </div>
        </div>
    </div>

    {{!-- <script src="/js/contacts.js"></script> --}}
