<h1>Enter your data</h1>
    {{!-- <form action="/api/auth/login" method="post"> --}}
<form action="/api/auth/login" method="post" class="row g-3">
  <div class="col-auto">
    <label for="staticEmail2" class="visually-hidden">Email</label>
    <input type="text" name="email" class="form-control-plaintext" id="staticEmail2" value="" placeholder="Введите email" required>
  </div>
  <div class="col-auto">
    <label for="inputPassword2" class="visually-hidden">Password</label>
    <input type="password" name="password" class="form-control" id="inputPassword2" value="1111" placeholder="Password" required>
  </div>
  <div class="col-auto">
    <button type="submit" class="btn btn-primary mb-3">Вход</button>
  </div>
{{!-- </form> --}}
        {{!-- <input type="text" name="email">
        <input type="password" name="password" value="1111"> --}}
        {{!-- <input type="password" name="password"> --}}
        <div>
            <input type="checkbox" name="flag" id="checkMyyes" checked>
            <label for="checkMyyes" checked>Я соглас(ен/на) с <a href="#">правилами пользования сайтом</a> и с <a href="#">договором оферты</a></label>
        </div> 
        <a href="/forgpass">Забыли пароль?</a>   
            {{!-- <div class="form-check">
            <input name="flag" class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
            <label class="form-check-label" for="flexCheckChecked">
                Checked checkbox
            </label>
            </div> --}}
            
        {{!-- <button type="submit">Enter</button> --}}
</form>

<div class="container">
    <div class="form-block">
        <form action="/api/auth/login" method="post" id="regform">
                <input type="text" name="email" placeholder="Введите ваш email">
                <input type="password" name="password" placeholder="Введите пароль">
            
            <div class="checking">
                <input type="checkbox" name="flag" id="check">
                <label for="check"> Я согласен с <a href="#">правилами пользования</a> сайтом и <a href="#">договором оферты</a></label>
            </div>
            <div>
                
                <button 
                type="submit" 
                {{!-- disabled --}}
                >Enter</button>
            </div>
        </form>
    </div>
</div>
        
 <script src="/js/enter.js"></script>
