<h1>Home Page activate</h1>
<img src="/img/smart-tv-1280-830.png" alt="smart-tv">
<img src="/public/img/CSVtoEXCEL.png" alt="CSVtoEXCE">
<div>
    git commit
</div>  
<div class="container">
    <div class="three-block">
        <div class="three-block__row">
            <div class="three-block__column">
                <input type="text">
            </div>
            <div class="three-block__column">
                <input type="text">
            </div>
            <div class="three-block__column">
                <input type="text">
            </div>
        </div>
    </div>
    
 <img src="http://localhost:5000/public/img/smart-tv-1280-830.png" width="50%" alt="smart-tv">   
</div>

{{!-- <script src="/js/index.js"></script> --}}
