    {{!-- {{> menu}} --}}
    <p>Поздравляем! Вы успешно зарегистрировались!</p>
    <p>Чтобы войти на сайт нужно подтверждение Вашего согласия</p>
    <a href="/login">Login</a>
    {{!-- {{> footer}} --}}