     <h1>Регистрация m2_1change</h1>
    <div>
        <form action="/api/auth/registration" method="post">
            <input type="email" name="email">
            <input type="password" name="password">
            <div>
                {{!-- <div>
                    <p>Я согласен с правилами пользования сайтом договором оферті</p>
                </div>
                <div>
                    <input type="checkbox" name="flag">
                </div> --}}
            </div>
            <button type="submit">Enter</button>
        </form>
    </div>  
    {{!-- <a href="/login">Войти</a> --}}

    <script src="/js/reg.js"></script>
