
<div class="container">
    <div class="form-block">
        <form action="/api/auth/registration" method="post" id="regform">
                <input type="text" name="email" placeholder="Введите ваш email">
                <input type="password" name="password" placeholder="Введите пароль">
            
            <div class="checking">
                <input type="checkbox" name="flag" id="check">
                <label for="check"> Я согласен с <a href="#">правилами пользования</a> сайтом и <a href="#">договором оферты</a></label>
            </div>
            <div>
                
                <button 
                type="submit" 
                {{!-- disabled --}}
                >Enter</button>
            </div>
        </form>
        <a href="/login">Войти</a>
    </div>
</div>
 

<script src="/js/reg.js"></script>
