.hidden{
    display: none;
}
.vizibly{
    display: inline-block;
}

#enter {
    /* margin-right: 5px; */
}

#regform input[type="password,"],
#regform input[type="email,"] {
    /* box-sizing: border-box; */
    width: 100%;
}
