footer {
  padding-top: 20px;
  padding-bottom: 20px;
  
    position: fixed;
    left:0px;
    bottom:0px;
    height:30px;
    width:100%;
    color: white;
    background-color: black;
 
  p.copyright {
    margin-left: auto;
    margin-right: auto;
    width: 195px
  }
}