// footer {
//   padding-top: 20px;
//   padding-bottom: 20px;
  
//     position: fixed;
//     left:0px;
//     bottom:0px;
//     height:30px;
//     width:100%;
//     color: white;
//     background-color: black;
 
//   p.copyright {
//     margin-left: auto;
//     margin-right: auto;
//     width: 195px
//   }
// }

footer {
  background-color: $darky;
  margin-top: 20px;
  .item .vizibly#navcontact,
  .item .vizibly#navmenu {
    display: block;
  }
  .footer-title {
    margin-bottom: 10px;
  }
  .footer-wrap {
    display: flex;
    flex-wrap: wrap;
    // margin: 0 -20px;
    margin: 0;
  }
  .footer-copy {
    p {
      margin-bottom: 50px;
    }
    .footer-logo {
      // vertical-align: middle;
      display: inline-block;
      color: #ffffff;
      background-color: $darky;
      padding: 5px 0;
    }
  }
  
}

.item{
  width: calc(33.33% - 100px);
  margin: 20px 50px;
  text-align: center;
  color: white;
  // padding: 20px;
  box-sizing: border-box;
  // background-color: lightgreen;
  .footer-menu {
    li {
      margin-bottom: 10px;
    }
    a {
      text-decoration: none;
      text-align: start ;
      font-style: italic;
      color: $lighty;
      &:hover {
        color: orangered
      }

    }
    
  }
  
}

@media screen and (max-width: 515px){
      .item{
      width: calc(100% - 100px);
      margin: 10px auto;
      // padding: 20px;
      box-sizing: border-box;
      .footer-title {
        cursor: pointer;
      }
      .footer-menu {
        display: none;
      }
  }
  
}