/* styles for upload-file-button*/
.file-upload {
    display: inline-block;
    position: relative;
    overflow: hidden;
    width: 150px;
    height: 40px;
    background: $medy;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 1px solid $darky;
    color: $darky;
    text-align: center;
    
    input[type="file"]{
        display: none;
    }
    &:hover {
        background: $darky;
        color: $lighty;
    }
    &:active {
        background-color: $lighty;
        border: 2px solid $darky;
        color: $darky;
    }
    /* width label = width .file-upload */
    label {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
    }
    /* text style on button*/
    span {
        line-height: 40px;
        font-weight:bold;
    }
    
}
#file-name {
    display: inline-block;
    // position: relative;
    overflow: hidden;
    width: 195px;
    height: 40px;
    background: $lighty;
    // border-top-left-radius: 10px;
    // border-bottom-left-radius: 10px;
    border: 1px solid $darky;
    color: $darky;
    text-align: center;
    margin-left: -5px;
    line-height: 40px;
    // &:hover {
    //     background: $darky;
    //     color: $lighty;
    // }
}
.but-box {
    display: inline-block;
    vertical-align: top;
    input[type=submit].filesubm {
        // vertical-align: top;
        // display: inline-block;
        // overflow: hidden;
        width: 150px;
        height: 40px;
        color: $darky;
        background-color: $medy;
        border: 1px solid $darky;
        font-weight: 600;
        font-size: 14px;
        margin-left: -5px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        &:hover {
            background-color: $darky;
            color: $lighty;
        }
        &:active {
            background-color: $lighty;
            border: 2px solid $darky;
            color: $darky;
        }
    }
}

@media (max-width: 680px){
    
}
    
    